<div class="container">
  <div class="contiene-add-new-btn">
    <%= link_to 'Agregar nuevo Todo', todos_new_path, class: 'btn btn-primary btn-sm' %>
  </div>


  <% @todos.each do |todo| %>
    <div class="card">
      <div class="card-header">
        <div class="form-group">
          <% if !todo.completed %>
            <%= link_to 'Completar', complete_path(todo), class: 'btn btn-success btn-sm', :disabled => false %>
          <% else %>
            <%= link_to 'Listo', complete_path(todo), class: 'btn btn-success btn-sm disabled', :disabled => true %>
          <% end %>
        </div>
        <%= todo.description %>
      </div>
      <div class="card-body">
        <%= link_to 'Show', todo, class: 'btn btn-info btn-sm' %>
        <%= link_to 'Editar', edit_path(todo), class: 'btn btn-warning btn-sm' %>
        <%= link_to "Eliminar", todo, method: :delete, class: 'btn btn-danger btn-sm' %>
      </div>
    </div>

  <% end %>

</div>
